<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Final Project</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link  type='text/css' rel="stylesheet" href="/styles.css"/>        
    </head>

    <body>
        <section class="hero is-info is-fullheight">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  Carolina Connections
                </h1>
                <h2 class="subtitle">
                  Your hub for building an academic support network in the era of COVID. 
                </h2>
                <div class="buttons">
                    <a class="button is-info is-inverted is-outlined" href="/users/login">Log In</a>
                    <a class="button is-white" href="/users/register">Sign Up</a>
                  </div>
              </div>
            </div>
          </section>
    </body>
</html>